<div class="container-fluid px-0 main-container">
    <Navbar />
    <section class="hero-section text-center">
        {{!-- Heading --}}
        <h1 class="mt-4 text-primary">Welcome to FiRST PiCk Phonics</h1>
        <h5 class="text-primary">Every Child Can Read!</h5>

    </section>

    {{!-- IMAGE SECTION --}}
    <section class="image-section">
        <img src="/assets/img/landingimg.jpeg" class="hero-image" alt="students">
    </section>

    {{!-- CARDS SECTION --}}
    <section class="cards-section">
        <div class="container px-3">

            <div class="row justify-content-center align-items-stretch g-3 desktop-center">

                {{!-- ABOUT --}}
                <div class="col-12 col-sm-4 d-flex align-items-stretch">
                    <div class="custom-card text-center">

                        <div class="icon-circle">
                            <i class="fa-solid fa-circle-info text-light" style="font-size: 35px;"></i>
                        </div>

                        <h5>About</h5>
                        <p>Learn more about our program</p>


                        <button class="arrow-btn text-primary">
                            →
                        </button>


                    </div>
                </div>



                {{!--------------------------------------- FACILITATION --}}
                <div class="col-12 col-sm-4 d-flex align-items-stretch">
                    <div class="custom-card text-center">

                        <div class="icon-circle">
                            <i class="fa-solid fa-file-lines text-light" style="font-size: 35px;"></i>
                        </div>

                        <h5>Facilitation Note</h5>
                        <p>Guidelines and notes for facilitators</p>

                        <button class="arrow-btn text-primary" data-bs-toggle="modal"
                            data-bs-target="#facilitationModal">
                            →
                        </button>

                    </div>
                </div>

                {{!-- RESOURCES --}}
                <div class="col-12 col-sm-4 d-flex align-items-stretch">
                    <div class="custom-card text-center">

                        <div class="icon-circle">
                            <i class="fa-solid fa-book-open text-light" style="font-size: 35px;"></i>
                        </div>

                        <h5>Resources</h5>
                        <p>Educational materials and tools</p>

                        <LinkTo @route="resources" class="arrow-btn text-decoration-none text-text-primary">
                            →
                        </LinkTo>

                    </div>
                </div>

            </div>

        </div>
    </section>

</div>




{{outlet}}