<nav class="navbar py-2">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-nowrap px-2">

        {{!-- Logo --}}
        <a class="navbar-brand m-0 p-0" href="/">
            <img src="/assets/img/landingimg.jpeg" alt="firstPickLogo" class="img-fluid logo-img">
        </a>

        {{!-- Heading --}}
        <h1 class="mb-0 text-primary fw-normal heading-text text-end">
            WELCOME TO FIRST PICK PHONICS
        </h1>

    </div>
</nav>

{{yield}}